.quote {
    margin-bottom: 191px;
}

.quote__inner {
    position: relative;
    
    &::before {
        content: "";
        margin-right: auto;
        margin-bottom: 43px;
        margin-left: auto;
        display: block;
        width: 146px;
        border-bottom: 1px solid #DBDBDB;
    }
    
    &::after {
        content: "";
        position: absolute;
        left: calc(50% - 73px);
        bottom: 61px;
        display: inline-block;
        width: 146px;
        border-bottom: 1px solid #DBDBDB;
    }
}


.quote__discription {
    position: relative;
    max-width: 753px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: $rarely-color;
    
    &::before {
        content: "";
        position: absolute;
        top: -30px;
        left: -85px;
        width: 71px;
        height: 64px;
        background-image: url(../images/qoshtirnoq-1.svg);
        background-repeat: no-repeat;
        
    }
    
    &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        right: -105px;
        width: 71px;
        height: 64px;
        background-image: url(../images/qoshtirnoq-2.svg);
        background-repeat: no-repeat;
    }
}

.quote__text {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: $main-color;
    padding-right: 60px;
}








