.site-header {
    position: relative;
}

.header-top__inner {
    display: flex;
    align-items: center;
    padding: 11px 0;
}

.address {
    font-style: normal;
}

.address__link {
    position: relative;
    text-decoration: none;
    margin-left: 216px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: $main-color;
    transition: all 0.4s ease;
    
    &::before {
        content: "";
        position: absolute;
        left: -23px;
        display: inline-block;
        width: 14px;
        height: 13px;
        background-image: url(../images/house.svg);
        background-size: cover;
    }

    &:hover {
        color: #FFBD54;
    }
    
    &:active {
        color: $main-color;
        opacity: 0.6;
    }
}

.phone-number {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $main-color;
    transition: color 0.5s ease;
    
    &:hover {
        color: #FFBD54;
    }
    
    &:active {
        color: $main-color;
        opacity: 0.6;
    }
}

.phone-number--decoration {
    margin-left: 128px;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -22px;
        display: inline-block;
        width: 13px;
        height: 13px;
        background-image: url(../../images/phone.svg);
    }
}

.phone-number--active {
    margin: 0 22px;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: -13px;
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: #FFBD54;
        border-radius: 50%;
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 6px;
        right: -13px;
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: #FFBD54;
        border-radius: 50%;
    }
}

.working-time {
    margin-top: 1px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $main-color;    
}

.working-time--active {
    position: relative;
    margin-right: auto;
    margin-left: 125px;
    
    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -21px;
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url(../../images/time-svg.svg);
        background-size: cover;
    }
}

.header-main {
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid #F3F3F3;
}

.header-main__inner {
    display: flex;
    align-items: center;
}

.header-main__logo-link {
    transition: opacity 0.5s ease;
    
    &:hover {
        opacity: 0.8;
    }
    
    &:active {
        opacity: 0.6;
    }
}

.header-main__logo {
    position: absolute;
    top: 21px;
    left: calc(50% - 660px);
}

.navbar__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 326px;
    padding: 0;
}

.navbar__item {
    position: relative;
    margin-right: 55px;
    border-bottom: 4px solid transparent;
    transition: all 0.4s ease;
    
    &:nth-child(1)::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -31px;
        width: 21px;
        height: 15px;
        background-image: url(../../images/little-fish.svg);
    }
    
    &:last-child {
        margin-right: 0;
    }
    
    &:hover {
        border-bottom: 4px solid #F4FFAD;
    }
    
    &:active {
        opacity: 0.6;
    }
}

.navbar__link {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $main-color;
}

.question-link {
    position: relative;
    text-decoration: none;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: $main-color;
    border-bottom: 4px solid transparent;
    transition: all 0.4s ease;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -33px;
        display: inline-block;
        width: 29px;
        height: 27px;
        background-image: url(../../images/pet.svg);
    }

    &:hover {
        border-bottom: 4px solid #F4FFAD;
    }
    
    &:active {
        opacity: 0.6;
    }
}
